.navbar {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1f5156;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
  max-width: fit-content;
  margin-right: auto;
  padding: 12px 16px;
  color: #f5b921;
  align-items: center;
  margin-left: 20px;
  text-decoration: none;
  font-size: 1.5rem;
  flex-grow: 1;
  border-bottom: 3px solid #f5b921;
  border-top: 3px solid #f5b921;
}

.navbar__item {
    width: 10rem auto;
    color: #f5b921;
    padding: 16px 30px 16px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fav-badge {
        position: absolute;
        top: -7px;
        right: -7px;
        padding: 3px 8px;
        border-radius: 50%;
        background: red;
        color: white;
}

.cart-badge{
    position: absolute;
        top: -10px;
        right: -17px;
        padding: 3px 8px;
        border-radius: 50%;
        background: red;
        color: white;
}

.options{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 3px;
    margin: 0px 7px;
    cursor: pointer;
}
.options:hover{
    background-color: rgb(255, 241, 221);
}