.mainFavClass {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clearFav {
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    top: 85px;
    right: 30px;
}

.clearFav:hover{
    cursor: pointer;
    background-color: rgb(245, 110, 86);
}